<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<form action="#" th:action="@{/admin/modifierParametresVCO}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">
        <h1 th:text="${formulaire.titrePage}">Titre</h1>

        <input type="hidden" th:field="*{parametresVCODTO.id}" th:value="${formulaire.parametresVCODTO.id}"/>
        <!-- Table -->
        <table class="table">
            <tr >
                <td>URL VRealize Orchestrator</td>
                <td>
                    <input  th:field="*{parametresVCODTO.urlVco}" th:value="${formulaire.parametresVCODTO.urlVco}" />
                </td>
            </tr>
            <tr >
                <td>Compte VCO</td>
                <td>
                    <input  th:field="*{parametresVCODTO.adminVco}" th:value="${formulaire.parametresVCODTO.adminVco}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe VCO</td>
                <td>
                    <input  th:field="*{parametresVCODTO.motDePasseVco}" th:value="${formulaire.parametresVCODTO.motDePasseVco}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse IP Phpipam</td>
                <td>
                    <input th:field="*{parametresVCODTO.adressePhpipam}"  th:value="${formulaire.parametresVCODTO.adressePhpipam}"/>
                </td>
            </tr>

            <tr >
                <td>Base Phpipam</td>
                <td>
                    <input  th:field="*{parametresVCODTO.basePhpipam}" th:value="${formulaire.parametresVCODTO.basePhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Phpipam</td>
                <td>
                    <input  th:field="*{parametresVCODTO.comptePhpipam}" th:value="${formulaire.parametresVCODTO.comptePhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Phpipam</td>
                <td>
                    <input  th:field="*{parametresVCODTO.motDePassePhpipam}" th:value="${formulaire.parametresVCODTO.motDePassePhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse IP Teampass</td>
                <td>
                    <input  th:field="*{parametresVCODTO.adresseTeampass}" th:value="${formulaire.parametresVCODTO.adresseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Base Teampass</td>
                <td>
                    <input  th:field="*{parametresVCODTO.baseTeampass}" th:value="${formulaire.parametresVCODTO.baseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Teampass</td>
                <td>
                    <input  th:field="*{parametresVCODTO.compteTeampass}" th:value="${formulaire.parametresVCODTO.compteTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Teampass</td>
                <td>
                    <input  th:field="*{parametresVCODTO.motDePasseTeampass}" th:value="${formulaire.parametresVCODTO.motDePasseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse IP Dolibarr</td>
                <td>
                    <input  th:field="*{parametresVCODTO.adresseDolibarr}" th:value="${formulaire.parametresVCODTO.adresseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Base Dolibarr</td>
                <td>
                    <input  th:field="*{parametresVCODTO.baseDolibarr}" th:value="${formulaire.parametresVCODTO.baseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Dolibarr</td>
                <td>
                    <input  th:field="*{parametresVCODTO.compteDolibarr}" th:value="${formulaire.parametresVCODTO.compteDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input th:field="*{parametresVCODTO.motDePasseDolibarr}"  th:value="${formulaire.parametresVCODTO.motDePasseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse SMTP</td>
                <td>
                    <input  th:field="*{parametresVCODTO.adresseSmtp}" th:value="${formulaire.parametresVCODTO.adresseSmtp}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input  th:field="*{parametresVCODTO.expediteurSMTP}" th:value="${formulaire.parametresVCODTO.expediteurSMTP}"/>
                </td>
            </tr>
            <tr >
                <td>Longueur Mot de passe</td>
                <td>
                    <input  th:field="*{parametresVCODTO.longueurMotDePasse}" th:value="${formulaire.parametresVCODTO.longueurMotDePasse}"/>
                </td>
            </tr>
            <tr >
                <td>Timeout Phpipam</td>
                <td>
                    <input  th:field="*{parametresVCODTO.timeoutPing}" th:value="${formulaire.parametresVCODTO.timeoutPing}"/>
                </td>
            </tr>
            <tr >
                <td>Texte de réservation phpipam</td>
                <td>
                    <input  th:field="*{parametresVCODTO.texteReservationPhpIpam}" th:value="${formulaire.parametresVCODTO.texteReservationPhpIpam}"/>
                </td>
            </tr>
        </table>
    </div>
</div>

    <p><button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}">
        <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
    </button>
    </p>
</form>
</body>
</html>