<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<form action="#" th:action="@{/admin/modifierParametresAppli}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">
        <h1 th:text="${formulaire.titrePage}">Titre</h1>

        <!-- Table -->

        <input type="hidden" th:field="*{parametresAppliDTO.id}" th:value="${formulaire.parametresAppliDTO.id}"/>
        <table class="table">
            <tr >
                <td>Titre du site</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.titreSite}" th:value="${formulaire.parametresAppliDTO.titreSite}"/>

                </td>
            </tr>
            <tr >
                <td> Chaine de connexion LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.chaineConnexionLDAP}" th:value="${formulaire.parametresAppliDTO.chaineConnexionLDAP}"/>
                </td>
            </tr>
            <tr >
                <td>Compte de connexion LDAP</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteLDAP}" th:value="${formulaire.parametresAppliDTO.compteLDAP}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseLDAP}"  th:value="${formulaire.parametresAppliDTO.motDePasseLDAP}"/>
                </td>
            </tr>

            <tr >
                <td>Compte de connexion Admin</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteAdmin}" th:value="${formulaire.parametresAppliDTO.compteAdmin}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Admin</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseAdmin}"  th:value="${formulaire.parametresAppliDTO.motDePasseAdmin}"/>
                </td>
            </tr>
        </table>
        <br/>
        <button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}" class="btn btn-sm btn-primary">
            <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
        </button>
    </div>
</div>
</form>
</body>
</html>