<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<form action="#" th:action="@{/admin/modifierParametresAppli}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">
        <h2 th:text="${formulaire.titrePage}">Titre</h2>

        <!-- Table -->

        <input type="hidden" th:field="*{parametresAppliDTO.id}" th:value="${formulaire.parametresAppliDTO.id}"/>
        <input type="hidden" th:field="*{parametresAppliDTO.typeEnvironnement}" th:value="${formulaire.parametresAppliDTO.typeEnvironnement}"/>
        <table class="table">
            <tr >
                <td>Titre du site</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.titreSite}" th:value="${formulaire.parametresAppliDTO.titreSite}"/>

                </td>
            </tr>
            <tr >
                <td> Code environnement</td>
                <td th:text="${formulaire.parametresAppliDTO.typeEnvironnementDTO.codeEnvironnement}"/>
                </td>
            </tr>
            <tr >
                <td> Description de l'environnemment</td>
                <td th:text="${formulaire.parametresAppliDTO.typeEnvironnementDTO.descriptionEnvironnement}"/>
                </td>
            </tr>
            <tr >
                <td> Chaine de connexion LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.chaineConnexionLDAP}" th:value="${formulaire.parametresAppliDTO.chaineConnexionLDAP}"/>
                </td>
            </tr>
            <tr >
                <td>Compte de connexion LDAP</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteLDAP}" th:value="${formulaire.parametresAppliDTO.compteLDAP}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseLDAP}"  th:value="${formulaire.parametresAppliDTO.motDePasseLDAP}"/>
                </td>
            </tr>

            <tr >
                <td>Compte de connexion Admin</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteAdmin}" th:value="${formulaire.parametresAppliDTO.compteAdmin}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Admin</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseAdmin}"  th:value="${formulaire.parametresAppliDTO.motDePasseAdmin}"/>
                </td>
            </tr>

            <tr >
                <td>Mail Admin</td>
                <td>
                    <input th:field="*{parametresAppliDTO.mailAdmin}"  th:value="${formulaire.parametresAppliDTO.mailAdmin}"/>
                </td>
            </tr>

            <tr >
                <td>Adresse IP Phpipam</td>
                <td>
                    <input th:field="*{parametresAppliDTO.adressePhpipam}"  th:value="${formulaire.parametresAppliDTO.adressePhpipam}"/>
                </td>
            </tr>

            <tr >
                <td>Base Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.basePhpipam}" th:value="${formulaire.parametresAppliDTO.basePhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.comptePhpipam}" th:value="${formulaire.parametresAppliDTO.comptePhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.motDePassePhpipam}" th:value="${formulaire.parametresAppliDTO.motDePassePhpipam}"/>
                </td>
            </tr>

            <tr >
                <td>Timeout ping Phpipam Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.timeoutPingPhpipam}" th:value="${formulaire.parametresAppliDTO.timeoutPingPhpipam}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse IP Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseTeampass}" th:value="${formulaire.parametresAppliDTO.adresseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Base Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.baseTeampass}" th:value="${formulaire.parametresAppliDTO.baseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteTeampass}" th:value="${formulaire.parametresAppliDTO.compteTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.motDePasseTeampass}" th:value="${formulaire.parametresAppliDTO.motDePasseTeampass}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse IP Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseDolibarr}" th:value="${formulaire.parametresAppliDTO.adresseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Base Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.baseDolibarr}" th:value="${formulaire.parametresAppliDTO.baseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Compte Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteDolibarr}" th:value="${formulaire.parametresAppliDTO.compteDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseDolibarr}"  th:value="${formulaire.parametresAppliDTO.motDePasseDolibarr}"/>
                </td>
            </tr>
            <tr >
                <td>Adresse SMTP</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseSmtp}" th:value="${formulaire.parametresAppliDTO.adresseSmtp}"/>
                </td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.expediteurSMTP}" th:value="${formulaire.parametresAppliDTO.expediteurSMTP}"/>
                </td>
            </tr>
            <tr >
                <td>Longueur Mot de passe</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.longueurMotDePasse}" th:value="${formulaire.parametresAppliDTO.longueurMotDePasse}" size="2"/>
                </td>
            </tr>
        </table>
        <br/>
        <button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}" class="btn btn-sm btn-primary">
            <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
        </button>
    </div>
</div>
</form>
</body>
</html>