<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


<script language="javascript">


    function afficherDetailsReferentielVirtualisation(identifiantVirtualisationSelect) {

       // alert(identifiant);
        document.getElementById("identifiantVirtualisationSelect").value= identifiantVirtualisationSelect;
        document.getElementById("monformulaire").submit();
    }

</script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>

<form id="monformulaire" action="#" th:action="@{/adminTechnique/afficherDetailsReferentielVirtualisation}" th:object="${formulaire}" method="post">
    <div class="container">
        <div class="jumbotron">

            <div class="panel panel-primary">
                <div class="panel-heading" th:text="${formulaire.titrePage}">Titre de la page</div>

                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${formulaire.paginationObjet.nbLigneAfficheParPage}"></span>
                        <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <li><a href="/adminTechnique/afficherReferentielVirtualisation?ligneParPage=5">5</a></li>
                <li><a href="/adminTechnique/afficherReferentielVirtualisation?ligneParPage=10">10</a></li>
                <li><a href="/adminTechnique/afficherReferentielVirtualisation?ligneParPage=20">20</a></li>
            </ul>
        </div>

        <input id="identifiantVirtualisationSelect" name="identifiantVirtualisationSelect" type="hidden" value="0" />
        <!-- Table -->
        <table class="table">
            <tr >
                <th>Identifiant technique</th>
                <th>Date de création</th>
                <th>Créateur</th>
                <th>Date de modification</th>
                <th>Modifcateur</th>
                <th>Type de virtualisation</th>
            </tr>
            <tr  class="sortable" th:each="referentielVirtualisation:${formulaire.referentielVirtualisationDTOPage}" th:onclick="'afficherDetailsReferentielVirtualisation(\'' + ${referentielVirtualisation.id} + '\');'">
                    <td th:text="${referentielVirtualisation.id}"></td>
                    <td th:text="${#dates.format(referentielVirtualisation.dateCreation, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${referentielVirtualisation.utilisateurCreateurDTO != null} ? ${referentielVirtualisation.utilisateurCreateurDTO.nom} + ' ' + ${referentielVirtualisation.utilisateurCreateurDTO.nom}"></td>
                    <td th:text="${#dates.format(referentielVirtualisation.dateModification, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${referentielVirtualisation.utilisateurModificateurDTO != null} ? ${referentielVirtualisation.utilisateurModificateurDTO.nom} + ' ' + ${referentielVirtualisation.utilisateurModificateurDTO.nom}"></td>
                    <td th:text="${referentielVirtualisation.nomVirtualisation}"></td>
                    <td th:text="${referentielVirtualisation.descriptionVirtualisation}"></td>
                </tr>
        </table>
            </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1,formulaire.paginationObjet.numPageTotal)}"><a th:text="${i}" th:href="@{'/adminTechnique/afficherReferentielVirtualisation?page='+${i-1}+'&amp;ligneParPage='+${formulaire.paginationObjet.nbLigneAfficheParPage}}">1</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}" class="btn btn-sm btn-primary">
            <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
        </button>
    </div>
</div>
</form>
</body>
</html>