<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../../../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<div class="container">
    <div class="jumbotron">

        <div class="panel panel-primary">
            <div class="panel-heading" th:text="${formulaire.titrePage}">Titre de la page</div>

            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${formulaire.paginationObjet.nbLigneAfficheParPage}"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <li><a th:href="${formulaire.urlActionEntree} + '?ligneParPage=5'">5</a></li>
                    <li><a th:href="${formulaire.urlActionEntree} + '?ligneParPage=10'">10</a></li>
                    <li><a th:href="${formulaire.urlActionEntree} + '?ligneParPage=20'">20</a></li>
                </ul>
            </div>

            <!-- Table -->
            <table class="table">
                <tr >
                    <th>Date Evênement</th>
                    <th>Nom utilisateur</th>
                    <th>Action</th>
                    <th>Identifiant technique de la donnée</th>
                </tr>
                <tr th:each="journal:${formulaire.journalDTOPage.content}">
                    <td th:text="${#dates.format(journal.dateEvenement, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${journal.login}"></td>
                    <td th:text="${journal.referentielJournalisationDTO.libelleAction}"></td>
                    <td th:text="${journal.idDonnee}"></td>
                </tr>
            </table>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1,formulaire.paginationObjet.numPageTotal)}"><a th:text="${i}" th:href="${formulaire.urlActionEntree} + '?page='+${i-1}+'&amp;ligneParPage='+${formulaire.paginationObjet.nbLigneAfficheParPage}">1</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>
</div>
</body>
</html>