<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
xmlns:sec="http://www.thymleaf.org/thymleaf-extra-springsecurity4">
<head></head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CGI Hosting</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" roleDTO="button" aria-haspopup="true" aria-expanded="false">Mon CGI Hosting<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/monCGIHosting/afficherMesInfosPerso">Mes infos perso</a></li>
                            <li sec:authorize="hasRole('ROLE_DP')"><a href="/monCGIHosting/afficherMesProjets">Mes projets</a></li>
                            <li><a href="/monCGIHosting/afficherMessages">Mes messages</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/monCGIHosting/afficherCommandes">Mes commandes</a></li>
                            <li><a href="/monCGIHosting/afficherMesServeursVirtuels">Mes serveurs virtuels</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/monCGIHosting/ajouterServeurVirtuel">Ajout serveur</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_EXPLOIT')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" roleDTO="button" aria-haspopup="true" aria-expanded="false">Exploitation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/exploit/afficherServeursVirtuels">Liste des serveurs Virtuels</a></li>
                            <li><a href="#">Décommisionnement</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/exploit/afficherTemplateOS">Réferentiel Templates OS</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" roleDTO="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/afficherParametresAppli">Paramétrage Application</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/admin/afficherReferentielHebergeurs">Référentiel hébergeurs</a></li>
                            <li><a href="/admin/afficherReferentielJournalisation">Réferentiel Libellés Journalisation</a></li>
                            <li><a href="/admin/afficherProduits">Réferentiel Produits</a></li>
                            <li><a href="/admin/afficherReferentielOS">Réferentiel Systèmes d'exploitation</a></li>
                            <li><a href="/admin/afficherReferentielVirtualisation">Réferentiel virtualisation</a></li>
                            <li><a href="/admin/afficherReferentielWorkflows">Réferentiel Actions Workflows</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/admin/afficherUtilisateurs">Utilisateurs du site</a></li>
                            <li><a href="/admin/afficherReferentielProjets">Projets CGI</a></li>
                            <li roleDTO="separator" class="divider"></li>
                            <li><a href="/admin/afficherJournalisation">Journaux d'evênements applicatifs</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search"/>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <div class="form-group">
                        <input class="btn btn-link" type="submit" value="Log out" />
                    </div>
                </form>
                <div class="navbar-text navbar-right" th:if="${#httpServletRequest.remoteUser != null}">
                    <p>Welcome <span sec:authentication="principal.displayName" /></p>
                    <p>Role: <span sec:authentication="principal.authorities">Liste Role</span></p>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>