<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


<script language="javascript">


    function afficherDetailsCommande(identifiantCommandeSelect) {

       // alert(identifiant);
        document.getElementById("identifiantCommandeSelect").value= identifiantCommandeSelect;
        document.getElementById("monformulaire").submit();
    }

</script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>

<form id="monformulaire" action="#" th:action="@{${formulaire.urlActionSortie}}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">

        <div class="panel panel-primary">

            <div class="panel-heading" th:text="${formulaire.titrePage}">Titre</div>

            <input id="identifiantCommandeSelect" name="identifiantCommandeSelect" type="hidden"  />
            <!-- Table -->
            <table class="table">
                    <tr >
                        <th>Référence commande</th>
                        <th>Nom du projet</th>
                        <th>Directeur du projet</th>
                        <th>Enregistreur</th>
                        <th>Valideur</th>
                        <th>Etat traitement</th>
                    </tr>
                    <tr  class="sortable" th:each="commande:${formulaire.commandeDTOUtilisateurDPListe}" th:onclick="'afficherDetailsCommande(\'' + ${commande.id} + '\');'">
                        <td th:text="${commande.reference}"></td>
                        <td th:text="${commande.projetDTO.nomProjet}"></td>
                        <td th:text="${commande.projetDTO.prenomDP} + ' ' + ${commande.projetDTO.nomDP}"></td>
                        <td th:text="${commande.utilisateurEnregistreurDTO != null} ? ${commande.utilisateurEnregistreurDTO.prenom} + ' ' + ${commande.utilisateurEnregistreurDTO.nom}"></td>
                        <td th:text="${commande.utilisateurValideurDTO != null} ? ${commande.utilisateurValideurDTO.prenom} + ' ' + ${commande.utilisateurValideurDTO.nom}"></td>
                        <td> traitement</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
</form>
</body>
</html>