<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<script type="application/javascript" language="JavaScript">
    jQuery(document).ready(
            function($) {

                $("#boutonAjax").click(function(event) {


                    var champRechercheProjet = $('#codeProjet').val();
                    var token = $("input[name='_csrf']").val();


                    $.ajax({
                        type: "POST",
                        url: "/monCGIHosting/ajaxRechercheProjet",
                        data: 'champRechercheProjet='+champRechercheProjet+'&_csrf='+token,
                        dataType: 'html',
                        timeout: 600000,
                        success: function (data) {
                            $("#resultatProjet").html(data);
                               //alert("success");                         //...
                        },
                        error: function (e) {
                                 alert("error:"+e.valueOf());                       //...
                        }
                    });

                });

            });
</script>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<div class="container">

    <form action="#" th:action="@{/monCGIHosting/modifierServeurVirtuel}" th:object="${formulaire}" method="post">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div class="jumbotron">
        <h2 th:text="${formulaire.titrePage}">Titre de la page</h2>

        <table class="table">
            <tr>
                <td>&nbsp;</td>
                <td><input th:field="*{champRechercheProjet}" id="codeProjet" type="text" th:size="10"/> <button type="button" id="boutonAjax">Recherche</button> </td>
            </tr>
            <tr>
                <td>Sélection du projet</td>
                <td>
                    <!--<select th:field="*{serveurVirtuelDTO.idProjet}" >-->
                        <div id="resultatProjet">

                        </div>
                    <!--</select>-->
                </td>
            </tr>

            <tr>
                <td>Systèmes d'exploitation</td>
                <td> <select th:field="*{serveurVirtuelDTO.idTemplate}" >
                    <option th:each="template : ${formulaire.templateOSDTOListe}"
                            th:value="${template.id}" th:text="${template.libelleTemplate}">Template</option>

                </select>
                </td>
            </tr>
            <tr>
                <td>Nom administrateur</td>
                <td> <input th:disabled="true" type="text" th:field="*{serveurVirtuelDTO.nomAdmin}"  size="20"/></td>
            </tr>
            <tr>
                <td>Mémoire RAM</td>
                <td> <input type="text" th:field="*{serveurVirtuelDTO.ram}"  size="20"/></td>
            </tr>
            <tr>
                <td>CPUS</td>
                <td> <input type="text" th:field="*{serveurVirtuelDTO.cpus}"  size="20"/></td>
            </tr>
        </table>
        <br/>
        <button type="submit" name="action" th:attr="value=${formulaire.actionAnnuler}" class="btn btn-sm btn-danger">
            <span th:text="${formulaire.boutonRetourLabel}">Label bouton</span>
        </button>
        <button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}" class="btn btn-sm btn-primary">
            <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
        </button>
    </div>

    </form>
</div>
</body>
</html>