<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>
<form id="monformulaire" action="#" th:action="@{${formulaire.urlActionSortie}}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">
        <h2 th:text="${formulaire.titrePage}">Titre</h2>

        <!-- Table -->

        <input type="hidden" th:field="*{parametresAppliDTO.id}" th:value="${formulaire.parametresAppliDTO.id}"/>
        <input type="hidden" th:field="*{parametresAppliDTO.referentielEnvironnementDTO.id}" th:value="${formulaire.parametresAppliDTO.referentielEnvironnementDTO.id}"/>
        <input type="hidden" th:field="*{parametresAppliDTO.typeEnvironnement}" th:value="${formulaire.parametresAppliDTO.typeEnvironnement}"/>
        <input type="hidden" th:field="*{parametresAppliDTO.referentielEnvironnementDTO.codeEnvironnement}" th:value="${formulaire.parametresAppliDTO.referentielEnvironnementDTO.codeEnvironnement}"/>
        <input type="hidden" th:field="*{parametresAppliDTO.referentielEnvironnementDTO.descriptionEnvironnement}" th:value="${formulaire.parametresAppliDTO.referentielEnvironnementDTO.descriptionEnvironnement}"/>
        <table class="table">
            <tr>
                <td th:if="${#fields.hasErrors('*')}" th:text="${formulaire.messageErreur}"> message d'erreur principal</td>
            </tr>
            <tr >
                <td>Titre du site</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.titreSite}" th:value="${formulaire.parametresAppliDTO.titreSite}"/>

                </td>
            </tr>
            <tr >
                <td> Code environnement</td>
                <td th:text="${formulaire.parametresAppliDTO.referentielEnvironnementDTO.codeEnvironnement}"/>
                </td>
               </tr>
            <tr >
                <td> Description de l'environnemment</td>
                <td th:text="${formulaire.parametresAppliDTO.referentielEnvironnementDTO.descriptionEnvironnement}"/>
                </td>
              </tr>
            <tr >
                <td> Chaine de connexion LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.chaineConnexionLDAP}" th:value="${formulaire.parametresAppliDTO.chaineConnexionLDAP}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.chaineConnexionLDAP')}" th:errors="*{parametresAppliDTO.chaineConnexionLDAP}">Libelle Error</td>

            </tr>
            <tr >
                <td>Compte de connexion LDAP</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteLDAP}" th:value="${formulaire.parametresAppliDTO.compteLDAP}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.compteLDAP')}" th:errors="*{parametresAppliDTO.compteLDAP}">Libelle Error</td>

            </tr>
            <tr >
                <td>Mot de passe LDAP</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseLDAP}"  th:value="${formulaire.parametresAppliDTO.motDePasseLDAP}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.motDePasseLDAP')}" th:errors="*{parametresAppliDTO.motDePasseLDAP}">Libelle Error</td>

            </tr>

            <tr >
                <td>Compte de connexion Admin</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteAdmin}" th:value="${formulaire.parametresAppliDTO.compteAdmin}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.compteAdmin')}" th:errors="*{parametresAppliDTO.compteAdmin}">Libelle Error</td>
            </tr>
            <tr >
                <td>Mot de passe Admin</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseAdmin}"  th:value="${formulaire.parametresAppliDTO.motDePasseAdmin}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.motDePasseAdmin')}" th:errors="*{parametresAppliDTO.motDePasseAdmin}">Libelle Error</td>
            </tr>

            <tr >
                <td>Mail Admin</td>
                <td>
                    <input th:field="*{parametresAppliDTO.mailAdmin}"  th:value="${formulaire.parametresAppliDTO.mailAdmin}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.mailAdmin')}" th:errors="*{parametresAppliDTO.mailAdmin}">Libelle Error</td>

            </tr>

            <tr >
                <td>Adresse IP Phpipam</td>
                <td>
                    <input th:field="*{parametresAppliDTO.adressePhpipam}"  th:value="${formulaire.parametresAppliDTO.adressePhpipam}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.adressePhpipam')}" th:errors="*{parametresAppliDTO.adressePhpipam}">Libelle Error</td>
            </tr>

            <tr >
                <td>Base Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.basePhpipam}" th:value="${formulaire.parametresAppliDTO.basePhpipam}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.basePhpipam')}" th:errors="*{parametresAppliDTO.basePhpipam}">Libelle Error</td>
            </tr>
            <tr >
                <td>Compte Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.comptePhpipam}" th:value="${formulaire.parametresAppliDTO.comptePhpipam}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.comptePhpipam')}" th:errors="*{parametresAppliDTO.comptePhpipam}">Libelle Error</td>
            </tr>
            <tr >
                <td>Mot de passe Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.motDePassePhpipam}" th:value="${formulaire.parametresAppliDTO.motDePassePhpipam}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.motDePassePhpipam')}" th:errors="*{parametresAppliDTO.motDePassePhpipam}">Libelle Error</td>
            </tr>

            <tr >
                <td>Timeout ping Phpipam Phpipam</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.timeoutPingPhpipam}" th:value="${formulaire.parametresAppliDTO.timeoutPingPhpipam}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.timeoutPingPhpipam')}" th:errors="*{parametresAppliDTO.timeoutPingPhpipam}">Libelle Error</td>
            </tr>
            <tr >
                <td>Adresse IP Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseTeampass}" th:value="${formulaire.parametresAppliDTO.adresseTeampass}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.adresseTeampass')}" th:errors="*{parametresAppliDTO.adresseTeampass}">Libelle Error</td>
            </tr>
            <tr >
                <td>Base Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.baseTeampass}" th:value="${formulaire.parametresAppliDTO.baseTeampass}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.baseTeampass')}" th:errors="*{parametresAppliDTO.baseTeampass}">Libelle Error</td>
            </tr>
            <tr >
                <td>Compte Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteTeampass}" th:value="${formulaire.parametresAppliDTO.compteTeampass}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.compteTeampass')}" th:errors="*{parametresAppliDTO.compteTeampass}">Libelle Error</td>

            </tr>
            <tr >
                <td>Mot de passe Teampass</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.motDePasseTeampass}" th:value="${formulaire.parametresAppliDTO.motDePasseTeampass}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.motDePasseTeampass')}" th:errors="*{parametresAppliDTO.motDePasseTeampass}">Libelle Error</td>
            </tr>
            <tr >
                <td>Adresse IP Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseDolibarr}" th:value="${formulaire.parametresAppliDTO.adresseDolibarr}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.adresseDolibarr')}" th:errors="*{parametresAppliDTO.adresseDolibarr}">Libelle Error</td>
            </tr>
            <tr >
                <td>Base Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.baseDolibarr}" th:value="${formulaire.parametresAppliDTO.baseDolibarr}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.baseDolibarr')}" th:errors="*{parametresAppliDTO.baseDolibarr}">Libelle Error</td>
            </tr>
            <tr >
                <td>Compte Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.compteDolibarr}" th:value="${formulaire.parametresAppliDTO.compteDolibarr}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.compteDolibarr')}" th:errors="*{parametresAppliDTO.compteDolibarr}">Libelle Error</td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input th:field="*{parametresAppliDTO.motDePasseDolibarr}"  th:value="${formulaire.parametresAppliDTO.motDePasseDolibarr}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.motDePasseDolibarr')}" th:errors="*{parametresAppliDTO.motDePasseDolibarr}">Libelle Error</td>
            </tr>
            <tr >
                <td>Adresse SMTP</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.adresseSmtp}" th:value="${formulaire.parametresAppliDTO.adresseSmtp}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.adresseSmtp')}" th:errors="*{parametresAppliDTO.adresseSmtp}">Libelle Error</td>
            </tr>
            <tr >
                <td>Mot de passe Dolibarr</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.expediteurSMTP}" th:value="${formulaire.parametresAppliDTO.expediteurSMTP}"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.expediteurSMTP')}" th:errors="*{parametresAppliDTO.expediteurSMTP}">Libelle Error</td>
            </tr>
            <tr >
                <td>Longueur Mot de passe (max 10 caractères)</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.longueurMotDePasse}" th:value="${formulaire.parametresAppliDTO.longueurMotDePasse}" size="2"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.longueurMotDePasse')}" th:errors="*{parametresAppliDTO.longueurMotDePasse}">Libelle Error</td>
            </tr>
            <tr >
                <td>Délai purge en mois (Max 12 mois)</td>
                <td>
                    <input  th:field="*{parametresAppliDTO.delaiPurge}" th:value="${formulaire.parametresAppliDTO.delaiPurge}" size="2"/>
                </td>
                <td th:if="${#fields.hasErrors('parametresAppliDTO.delaiPurge')}" th:errors="*{parametresAppliDTO.delaiPurge}">Libelle Error</td>
            </tr>
        </table>
        <br/>
        <button type="submit" name="action" th:attr="value=${formulaire.actionSauvegarder}" class="btn btn-sm btn-primary">
            <span th:text="${formulaire.boutonSoumissionLabel}">Label bouton</span>
        </button>
    </div>
</div>
</form>
</body>
</html>