<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


<script language="javascript">


    function afficherDetailsServeurVirtuel(identifiantServeurSelect) {

       // alert(identifiant);
        document.getElementById("identifiantServeurSelect").value= identifiantServeurSelect;
        document.getElementById("monformulaire").submit();
    }

</script>

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head lang="fr">
    <title>CGI Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="fragments/menu :: menu">...</div>

<form id="monformulaire" action="#" th:action="@{/monCGIHosting/afficherDetailsMonServeurVirtuel}" th:object="${formulaire}" method="post">
<div class="container">
    <div class="jumbotron">


        <h2 th:text="${formulaire.titrePage}">Titre</h2>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" th:text="${formulaire.paginationObjet.nbLigneAfficheParPage}" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                5
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <li><a href="/exploit/afficherServeursVirtuels?ligneParPage=5">5</a></li>
                <li><a href="/exploit/afficherServeursVirtuels?ligneParPage=10">10</a></li>
                <li><a href="/exploit/afficherServeursVirtuels?ligneParPage=20">20</a></li>
            </ul>
        </div>

        <input id="identifiantServeurSelect" name="identifiantServeurSelect" type="hidden"  />
        <!-- Table -->
        <table class="table">
            <tr >
                <th>Identifiant technique</th>
                <th>Nom du projet</th>
                <th>Enregistreur</th>
                <th>Valideur</th>
                <th>Nom du serveur</th>
                <th>Adresse IP</th>
                <th>Etat traitement</th>
            </tr>
            <tr  class="sortable" th:each="serveurVirtuel:${formulaire.serveurVirtuelDTOPage.content}" th:onclick="'afficherDetailsServeurVirtuel(\'' + ${serveurVirtuel.id} + '\');'">


                <td th:text="${serveurVirtuel.id}"></td>
                     <td th:text="${serveurVirtuel.projetDTO.nomProjet}"></td>
                    <td th:text="${serveurVirtuel.utilisateurEnregistreurDTO.nom}"></td>
                    <td th:text="${serveurVirtuel.utilisateurValideurDTO.nom}"></td>
                    <td th:text="${serveurVirtuel.nomServeur}"></td>
                    <td th:text="${serveurVirtuel.adresseIp}"></td>
                    <td th:text="${serveurVirtuel.etatTraitementServeurDTO.code}"></td>

            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1,formulaire.paginationObjet.numPageTotal)}"><a th:text="${i}" th:href="@{'/monCGIHosting/afficherMesServeursVirtuels?page='+${i-1}+'&amp;ligneParPage='+${formulaire.paginationObjet.nbLigneAfficheParPage}}">1</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</form>
</body>
</html>